<div>
  <form>
    <div class="card working-card">
      <h5 class="card-title">Nguyen Van A</h5>
      <div class="card-body">
        <label for="search">Tên tài khoản: </label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Tên tài khoản" name="username" formControlName="username"/>
          <a class="edit_content" role="button" href="#" data-toggle="modal">Chỉnh sửa</a>
        </div>
        <label for="search">Họ đệm: </label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Tên tài khoản" name="username" formControlName="username"/>
          <a class="edit_content" role="button" href="#" data-toggle="modal">Chỉnh sửa</a>
        </div>
        <label for="search">Tên: </label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Tên tài khoản" name="username" formControlName="username"/>
          <a class="edit_content" role="button" href="#" data-toggle="modal">Chỉnh sửa</a>
        </div>
        <label for="search">Lớp: </label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Tên tài khoản" name="username" formControlName="username"/>
          <a class="edit_content" role="button" href="#" data-toggle="modal">Chỉnh sửa</a>
        </div>
        <label for="search">Khoa: </label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Tên tài khoản" name="username" formControlName="username"/>
          <a class="edit_content" role="button" href="#" data-toggle="modal">Chỉnh sửa</a>
        </div>
      </div>
    </div>
  </form>
</div>
