<!-- <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)"> -->
<form (ngSubmit)="onClickSubmit()">
    <div class="card working-card">
        <h5 class="card-title">Lấy lịch công tác</h5>
        <div class="card-body">
            <label for="search">Tìm kiếm :</label>
            <div class="input-group mb-3">
                <input (focus)="onFocus()" [(ngModel)]="searchText" name="search" type="text" class="form-control" placeholder="" aria-label="search" aria-describedby="basic-addon1">
                <button (click)="isShowList=false" class="btn btn-md my-2 my-sm-0 ml-3 btn-search" type="submit">Chọn sự kiện</button>
            </div>
            <div *ngIf="isShowList" class="search-result table-responsive card">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col-1" class="stt-table">STT</th>
                            <th scope="col-1" class="date-table">Ngày tháng</th>
                            <th scope="col-8" class="event-table">Sự kiện</th>
                            <th scope="col-1" class="event-table">Chủ trì</th>
                            <th scope="col-1" class="action-table">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of list | filter : searchText">
                            <th scope="row">{{item.index + 1}}</th>
                            <td>{{item.day}}
                                <td>{{item.start}} - {{item.end}}: {{item.local}}
                                    <div>{{item.content}}</div>
                                    <b>{{item.component}}</b>
                                </td>
                                <td>{{item.leadder}}</td>
                                <td>
                                    <div class="action-check">
                                        <input type="checkbox" [checked]="item.isSelected" (change)="updateSelectedList(item)" />
                                    </div>
                                </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="select-calendar">
                <label for="event-calendar mt-5"><strong>Chọn lịch muốn thêm:</strong></label>
                <div class="input-group mb-3">
                    <select (change)="onSelectCalendar($event.target.value)" [(ngModel)]="selectedCalendar" [ngModelOptions]="{standalone: true}" class=" custom-select " id="event-calendar ">
                    <option *ngFor="let calendar of calendars " [value]="calendar.id ">{{calendar.summary}}</option>
                </select>
                    <button class="btn btn-md my-2 my-sm-0 ml-3 primary-color select-event-btn " type="submit ">Thêm lịch</button>
                </div>
            </div>
        </div>
    </div>
</form>
<ng4-loading-spinner [threshold]="2000" [timeout]="400000" [loadingText]="'Vui lòng chờ...'" [zIndex]="9999"></ng4-loading-spinner>