<!-- <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)"> -->
<form>
    <div class="card working-card">
        <h5 class="card-title">Lấy lịch công tác</h5>
        <div class="card-body">
            <label for="search">Tìm kiếm :</label>
            <div class="input-group mb-3">
                <input [(ngModel)]="searchText" name="search" type="text" class="form-control" placeholder="" aria-label="search" aria-describedby="basic-addon1">
                <button class="btn btn-md my-2 my-sm-0 ml-3 btn-search" type="submit">Tìm kiếm</button>
            </div>
            <div class="search-result">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="stt-table">STT</th>
                            <th scope="col" class="date-table">Ngày tháng</th>
                            <th scope="col" class="event-table">Sự kiện</th>
                            <th scope="col" class="event-table">Chủ trì</th>
                            <th scope="col" class="action-table">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of list | filter : searchText">
                            <th scope="row"></th>
                            <td>{{item.day}}
                                <td>{{item.start}} - {{item.end}}: {{item.local}}
                                    <div>{{item.content}}</div>
                                    <b>{{item.component}}</b>
                                </td>
                                <td>{{item.leadder}}</td>
                                <td>
                                    <div class="action-check">
                                        <input type="checkbox" [checked]="item.isSelected" (change)="updateSelectedList(item)" />
                                    </div>
                                </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="select-calendar">
                <label for="event-calendar mt-5"><strong>Chọn lịch muốn thêm:</strong></label>
                <div class="input-group mb-3">
                    <select class="custom-select" id="event-calendar">
                    <option selected>Chọn lịch...</option>
                    <option value="1">Lịch 1</option>
                    <option value="2">Lịch 2</option>
                    <option value="3">Lịch 3</option>
                </select>
                    <button class="btn btn-md my-2 my-sm-0 ml-3 primary-color select-event-btn" type="submit">Lấy lịch</button>
                </div>
            </div>
        </div>
    </div>
</form>