.navbar-brand img {
    height: 50px;
    width: auto;
}

nav.nav-custom {
    padding: 0 !important;
    background: #4099ff;
}

ul.navbar-nav li a {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
}

ul.navbar-nav li {
    padding: 0 !important;
    margin: 0;
}