.default-color {
    background-color: #4099ff !important;
}

links {
    ul {
        li.nav-item {
            line-height: 56px;
            a.nav-link {
                padding-bottom: 0;
                padding-top: 0;
            }
            &.avatar {
                a.nav-link {
                    img {
                        height: 56px;
                        padding: 7px !important;
                    }
                }
            }
            // a {
            //     img.img-fluid.rounded-circle.z-depth-0 {
            //         height: 56px !important;
            //         padding: 7px !important;
            //     }
            // }
        }
    }
}

nav.navbar {
    background-color: #4099ff !important;
}