<nav class="breadcrumb breadcrumb_type1" aria-label="Breadcrumb">
    <div class="container">
        <ol class="breadcrumb__list r-list">
            <li class="breadcrumb__group">
                <a href="#0" class="breadcrumb__point home-breadcrumb r-link"><i class="material-icons">home</i> Trang
                    chủ</a>
            </li>
            <li class="breadcrumb__group">
                <a href="#0" class="breadcrumb__point r-link">
                    <i class="material-icons">format_list_bulleted</i> Chức năng
                </a>
            </li>
            <li class="breadcrumb__group">
                <i class="material-icons">help_outline</i>Hướng dẫn
            </li>
            <li class="breadcrumb__group">
                <span class="breadcrumb__point" aria-current="page"> Chính sách</span>
            </li>
            <li class="breadcrumb__group">
                <span class="breadcrumb__point" aria-current="page"> Liên hệ</span>
            </li>
            <li class="breadcrumb__group">
                <span class="breadcrumb__point" aria-current="page"> Đăng ký</span>
            </li>
        </ol>
    </div>
</nav>