<nav class="breadcrumb breadcrumb_type1" aria-label="Breadcrumb">
    <div class="container">
        <ol class="breadcrumb__list r-list">
            <li class="breadcrumb__group">
                <a href="#0" class="breadcrumb__point home-breadcrumb r-link"><i class="fas fa-home mr-1 home-icon"></i>  Home</a>
                <span class="breadcrumb__divider" aria-hidden="true">/</span>
            </li>
            <li class="breadcrumb__group">
                <a href="#0" class="breadcrumb__point r-link">Blog</a>
                <span class="breadcrumb__divider" aria-hidden="true">/</span>
            </li>
            <li class="breadcrumb__group">
                <span class="breadcrumb__point" aria-current="page">Single post</span>
            </li>
        </ol>
    </div>
</nav>