<div>
  <form>
    <div class="card working-card">
      <h5 class="card-title">Import file excel</h5>
      <u>Tải file mẫu ở đây</u>
      <div>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="form-group">
              <input type="file" name="image" />
            </div>
            <button
              class="btn btn-md my-2 my-sm-0 ml-3 primary-color select-event-btn"
              type="submit"
            >Upload
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
