<div class="import-excel-class">
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
        <div class="card working-card">
            <h5 class="card-title">Import File Excel</h5>
            <div class="card-body">
                <a class="mb-3 d-block" href="#">Tải file mẫu tại đây</a>
                <div class="input-group mb-1">
                    <input (change)="inputExcelChanged($event)" type="file" class="custom-file-input input-excel-upload" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">{{fileName}}</label>
                </div>
                <button class="btn float-right btn-md primary-color select-event-btn mt-3" type="submit">Lấy
                  lịch</button>
            </div>

        </div>
    </form>
</div>